<%- include('../_layouts/adminheader') %>

<h2 class="page-title">الاقسام</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">اضافة اقسام</a>
<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>القسم</th>
            <th>تعديل</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %>
        <tr>
            <td><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat._id %>">تعديل</a></td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">حذف</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>