<%- include('../_layouts/adminheader') %>

<h2 class="page-title">اضافة مثالة</h2>
<a href="/admin/products" class="btn btn-primary">العودة الى جميع المقالات</a>
<br><br>

<form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
    
    <div class="form-group">
        <label for="">اسم صانع المحتوى</label>
        <input type="text" class="form-control" name="title" value="<%= title %>">
    </div>
    
    <div class="form-group">
        <label for="">المقالة</label>
        <textarea name="desc" class="form-control" cols="30" rows="10"><%= desc %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">اختيار قسم البحث</label>
        <select name="category" class="form-control">
            <% categories.forEach(function(cat){ %>
                <option value="<%= cat.slug %>"><%= cat.title %></option>
            <% }); %>
        </select>
    </div>
    
    <div class="form-group">
        <label for="">مسرع البحث</label>
        <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="رقم 1">
    </div>
    
    <div class="form-group">
        <label for="">صورة صورة صانع المحتوى</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>
    
    <button class="btn btn-default">تاكيد</button>
</form>

<script>
    
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    
</script>

<%- include('../_layouts/adminfooter') %>