<%- include('../_layouts/adminheader') %>

<h2 class="page-title">صناع المحتوى</h2>
<a href="/admin/products/add-product" class="btn btn-primary">اضافة مقالة</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>اسم صانع المحتوى</th>
            <th>قسم البحث</th>
            <th>مسرع البحث</th>
            <th>صورة صانع المحتوى</th>
            <th>تعديل</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td><%= parseFloat(product.price).toFixed(0) %></td>
            <td><%= product.category %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
                <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% }%>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">تعديل</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">حذف</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else {%>
<h3 class="text-center">No access</h3>
<% }%>

<%- include('../_layouts/adminfooter') %>